body{
  margin:0;
  position: relative;
  min-height: 100vh;
  background: #ebebeb!important;
}
.introbg{
  background-image: url(/static/images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 30%;
  width: 100%;
  text-align: center;
  color: white;

}
.introbg h1{
  line-height: 200px;
}
.navbar-brand{
  margin-left: 50px !important;
}
nav{
  color: white !important;
}
.inputfield{
  text-align: center;
}
.inputfield{
padding: 130px 300px 130px 300px;
}
.footer{
  bottom: 0px;
  text-align: center;
  background-color: black;
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
td{
  word-wrap: break-word;
}
table{
  table-layout: fixed;
  width: 100%
}
.urltable{
  padding: 50px;
}
